#sidebar= render 'shared/node_manager_sidebar'
#main
  .header
    %h2 Change Password
  .item
    -if flash[:password_error]
      %p.error= flash[:password_error]
    = form_for @user, :url => update_password_account_path(@user), :html =>{:method => :put, :id => 'new-account-form' } do |f|
      = @user.errors.full_messages.first if @user.errors.any?
      %label Old password (enter old password)
      = f.password_field :old_password, :class => "required"
      %label New password  
      = f.password_field :password, :class => "required"
      = label_tag :password_confirmation
      = f.password_field :password_confirmation, :class => "required"      
      = submit_tag 'Change'
